.section {
  background: var(--primary-color);
}

.section .inner {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.section .inner h2 {
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 900;
}

.can {
  position: absolute;
  top: 50%;
  right: 18rem;
  transform: translate(0, -50%);
  z-index: 10000;
  width: 30rem;
  height: 56rem;
  background: url(../images/coke.jpg) 0 0, url(../images/soda_mockup.png);
  background-blend-mode: multiply;
  background-size: auto 100%;
  -webkit-mask-image: url(../images/soda_mockup.png);
  -webkit-mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;

  /* background-size: 100% auto;
    background-blend-mode: multiply;
    -webkit-mask-image: url(../images/soda_mockup.png);
    -webkit-mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat; */
}
